template(v-slot:form)
  h1.component__title Two-up signature

  div.item-group
    h4 Signature 1
    div.form-group
      label(for="sig1Url") Image URL
      input(type="text" id="sig1Url" v-model="sig1Url").form-control
    div.form-group
      label(for="sig1Input") Text (in Markdown)
      textarea(id="sig1Input" v-model="sig1Input" rows="4").form-control
      //- p.help-block Markdown
    div.form-group
      label(for="sig1ImageWidth") Image size
      input(
        type="range"
        max="252"
        step="1"
        min="0"
        id="sig1ImageWidth"
        ref="sig1Image"
        v-model="sig1ImageWidth"
        @input="showGuides = true"
      ).form-control
    div.form-group
      label(for="sig1Spacer") Image spacer
      input(
        type="range"
        max="100"
        step="1"
        min="0"
        id="sig1Spacer"
        ref="sig1Spacer"
        v-model="sig1Padding"
        @input="showGuides = true"
      ).form-control

  div.item-group
    h4 Signature 2
    div.form-group
      label(for="sig2Url") Image URL
      input(type="text" id="sig2Url" v-model="sig2Url").form-control
    div.form-group
      label(for="sig2Input") Text (in Markdown)
      textarea(id="sig2Input" v-model="sig2Input" rows="4").form-control
      //- p.help-block Markdown
    div.form-group
      label(for="sig2ImageWidth") Image size
      input(
        type="range"
        max="252"
        step="1"
        min="0"
        id="sig2ImageWidth"
        ref="sig2Image"
        v-model="sig2ImageWidth"
        @input="showGuides = true"
      ).form-control
    div.form-group
      label(for="sig2Spacer") Image spacer
      input(
        type="range"
        max="100"
        step="1"
        min="0"
        id="sig2Spacer"
        ref="sig2Spacer"
        v-model="sig2Padding"
        @input="showGuides = true"
      ).form-control


  div.row
    div.col-xs
      div.form-group
        div.checkbox-inline
          label(:class="{ disabled: !canShowGuides }")
            input(type="checkbox" name="showGuides" v-model="showGuides" :disabled="!canShowGuides")
            | Show guide

  include ../../includes/copy-buttons
